<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Test" parallel="none">
    <parameter name="browser" value="edge" />
    <test name="Smoke Test Edge">
        <groups>
            <run>
                <include name="Positive"/>
                <include name="Negative"/>
            </run>
        </groups>
        <classes>
            <class name="placelab.tests.SmokeTest">
            </class>
        </classes>
    </test>
</suite>